
div.index_box {
    border: 4px solid #547C01;
    margin-bottom: 4px;
    font-size: 14px;
}

div.index_box div {
    padding: 2px 4px 2px 4px;
}

div.index_box h1 {
    background: #547C01;
    color: white;
    margin: 0;
    padding: 2px;
    font-size: 14px;
}
div.index_box p {
    margin: 0;
    padding: 2px;
}
div.index_box p.button {
    text-align: right;
    font-weight: bold;
}
div.index_box button {
    background: #B53E04;
    border: 1px solid #E66919;
    color: white;
    font-size: 20px;
}

div.search_form {
    font-size: 12px;
}