form.pretty {
    margin: 0;
    padding: 0;
    font-size: 100%;
    /*
    min-width: 560px;
    max-width: 620px;
    */
    width: 690px;
}

form.pretty fieldset {
    clear: both;
    font-size: 12px;
    border-color: #D7B517;
    border-width: 5px 0 0 5px;
    border-style: solid none none outset;
    padding: 4px;
    margin: 0 0 0 0;
}

form.pretty fieldset legend {
    font-size: 150%;
    font-weight: normal;
    color: #473C09;
    margin: 0 0 0 0;
    padding: 0 5px;
}

form.pretty label {
    font-size: 100%;
}

form.pretty label u {
    font-style: normal;
    text-decoration: underline;
}

form.pretty input, form.pretty select, form.pretty textarea {
    font-family: Tahoma, Arial, sans-serif;
    font-size: 100%;
    color: #000000;
}

form.pretty textarea {
    overflow: auto;
}

form.pretty .field_with_errors{
    display: inline;
    color: red;
}

/* -------------------------------------------------- */
form.pretty div.required,
form.pretty div.optional {
    clear: left;
    display: block;
    width: 470px;
    margin: 5px 0 0 0;
    padding: 1px 3px;
}

form.pretty fieldset div.notes {
    float: right;
    width: 170px;
    height: auto;
    margin: 0px 0px 10px 10px;
    padding: 5px;
    border: 1px solid #EFDD19;
    color: #D7B517;
    font-size: 88%;
    background-color: #D7B517;
}

form.pretty fieldset div.notes h4 {
    background-image: url(/images/icon_info.gif);
    background-repeat: no-repeat;
    background-position: top left;
    padding: 3px 0 3px 20px;
    border-width: 0 0 1px 0;
    border-style: solid;
    border-color: #EFDD19;
    color: #473C08;
    font-size: 110%;
}

form.pretty fieldset div.notes p {
    margin: 0em 0em 1.2em 0em;
    color: black;
}

form.pretty fieldset div.notes p.last {
    margin: 0em;
}

form.pretty div fieldset {
    clear: none;
    border-width: 1px;
    border-style: solid;
    border-color: #666666;
    margin: 0 0 0 144px;
    padding: 0 5px 5px 5px;
    width: 197px;
}

form.pretty div fieldset legend {
    font-size: 100%;
    padding: 0 3px 0 9px;
}

form.pretty div.required fieldset legend {
    font-weight: bold;
}

form.pretty div label {
    display: block;
    float: left;
    width: 130px;
    padding: 3px 5px;
    margin: 0 0 5px 0;
    text-align: right;
}

form.pretty div.optional label, label.optional {
    font-weight: normal;
}

form.pretty div.required label, label.required {
    font-weight: bold;
}

form.pretty div label.labelCheckbox, form.pretty div label.labelRadio {
    float: none;
    display: block;
    width: 200px;
    padding: 0;
    margin: 0 0 5px 142px;
    text-align: left;
}

form.pretty div fieldset label.labelCheckbox, form.pretty div fieldset label.labelRadio {
    margin: 0 0 5px 0;
    width: 170px;
}

form.pretty div img {
    float: left;
    border: 1px solid #000000;
    margin: 0 0 5px 0;
}

form.pretty p.error {
    background-color: #ff0000;
    background-image: url(/images/icon_error.gif);
    background-repeat: no-repeat;
    background-position: 3px 3px;
    color: #ffffff;
    padding: 3px 3px 5px 27px;
    border: 1px solid #000000;
    margin: auto 100px;
}

form.pretty div.error {
    background-color: #ffffe1;
    background-image: url(/images/required_bg.gif);
    background-repeat: no-repeat;
    background-position: top left;
    color: #666666;
    border: 1px solid #ff0000;
}

form.pretty div.error p.error {
    background-image: url(/images/icon_error.gif);
    background-position: top left;
    background-color: transparent;
    border-style: none;
    font-size: 88%;
    font-weight: bold;
    margin: 0 0 0 118px;
    width: 200px;
    color: #ff0000;
}

form.pretty div select, form.pretty div textarea {
    width: 300px;
    padding: 1px 3px;
    margin: 0 0 0 0;
}

form.pretty div input.inputText, form.pretty div input.inputPassword {
    width: 300px;
    padding: 1px 3px;
    margin: 0 0 0 0;
}

form.pretty div input.inputFile {
    width: 211px;
}

form.pretty div select.selectOne, form.pretty div select.selectMultiple {
    width: 311px;
    padding: 1px 3px;
}

form.pretty div input.inputCheckbox,
form.pretty div input.inputRadio,
form.pretty input.inputCheckbox,
form.pretty input.inputRadio {
    display: inline;
    height: auto;
    width: auto;
    background-color: transparent;
    border-width: 0;
    padding: 0;
    margin: 0 0 0 140px;
}

form.pretty div.submit {
    width: 214px;
    padding: 0 0 0 146px;
}

form.pretty div.submit div {
    display: inline;
    float: left;
    text-align: left;
    width: auto;
    padding: 0;
    margin: 0;
}

form.pretty div input.inputSubmit, form.pretty div input.inputButton, input.inputSubmit, input.inputButton {
    background-color: #cccccc;
    color: #000000;
    width: auto;
    padding: 0 6px;
    margin: 0;
}

form.pretty div.submit div input.inputSubmit, form.pretty div.submit div input.inputButton {
    float: right;
    margin: 0 0 0 5px;
}

form.pretty div small {
    display: block;
    margin: 0 0 5px 142px;
    padding: 1px 3px;
    font-size: 88%;
    zoom: 1;
}

form.pretty div small.error {
    display: block;
    margin: 0 0 5px 142px;
    padding: 1px 3px;
    font-size: 88%;
    zoom: 1;
    color: red;
}

form.pretty fieldset fieldset input.inputRadio {
    margin: 0px;
}