div.requests{
    display: table;
    width: 100%;
}

div.requests a {
    color: #5B8BC6;
    text-decoration: none;
}

div.requests a:hover {
    text-decoration: underline;
}

div.request{
    margin: 0px 0px 0px 0px;
    display: table-row;
}

table.request{
    width: 100%;
}

div.request img {
    margin: 0;
}

div.request div {
    display: table-cell;
    vertical-align: top;
    border-bottom: 1px solid gray;
    padding: 5px;
}

div.request:last-child div {
    border-bottom: none; 
}

.request .picture{
    width: 100px;
}

.request .proposals {
    color: gray;
    font-size: 10px;
    /*width: 150px;*/
}

div.request div.proposals strong {
    font-weight: bold;
    font-size: 12px;
    color: black;
}

div.request div.proposals a {
    font-weight: lighter;
}

.request .times {
    color: #E66919;
    font-size: 10px;
    /*width: 100px;*/
}

div.request div.times strong{
    display: block;
}

.request .details h1 {
    font-size: 12px;
    font-weight: lighter;
    margin: 1px;
    padding: 0;
    color: #5B8BC6;
    background: none;
    border: none;
    /*width: 200px;*/
}

.request h2 {
    font-size: 10px;
    font-weight: lighter;
    margin: 1px;
    padding: 0;
}

.request .description {
    color: gray;
    font-size: 10px;
}