/*
color set: http://kuler.adobe.com/#themeID/1159168
#844E03: kind of brown
#9FA66A: kind of dark gray
#F2EC94: kind of light gray/yellow
#F23005: kind of strong red
#8B0F03: kind of dark red
*/

img{
    border: none;
    margin: 10px;
}

#tab_menu{
    border-bottom: 0px black solid;
    margin: 0px;
    padding: 0px;
}

#tab_menu ul{
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

#tab_menu li{
    display: inline;
    border-top: 1px solid #B53E04;
    border-bottom: none;
    border-left: 1px solid #B53E04;
    border-right: 3px solid #B53E04;
    margin: 5px 5px 0px 5px;
    /*
    padding: 5px 5px 0px 5px;
    */
    padding: 0px 0px 0px 0px;
    background: white;
}

#tab_menu li a{
    color: #B53E04;
    text-decoration: none;
    margin: 4px 4px 0px 4px;
}
#tab_menu li a:HOVER{
    background: #5B8BC6;
    color: white;
}

/* --------------------------------------------------*/
/* Brand related: begin */
#brand {
        float: left;
	padding: 0px;
        text-align: center;
        color: #9FA66A;
}
#brand h1 {
	font: bold 29px "Lucida Grande", Arial, sans-serif;
	position: relative;
	margin: 0;
	letter-spacing: -2px
}
#brand h1 A{
    color: #9FA66A;
    text-decoration: none;
}
#brand h2 {
    font-size: 15px;
    font-style: italic;
    margin: 0px;
    padding: 0px;
}
#brand span {
	background: url(../images/gradient-glossy.png) repeat-x;
	position: absolute;
	display: block;
	width: 100%;
	height: 29px;
}

/* Brand related: end */
/* --------------------------------------------------*/

/* --------------------------------------------------*/
/* User box: begin */
#user_box{
    float:right;
    font-size: 14px;
    background: #B53E04;
    color: #E66919;
    margin: 0px;
    padding: 0px;
    font-weight: 700;
}

#user_box A{
    color: #E66919;
}

#user_box label{
    font-size: 10px;
    font-weight: normal;
}

#user_box input{
    border: 1px solid #E66919;
    font-size: 10px;
}

/* User box: end */
/* --------------------------------------------------*/


/* Generic highlighted box */

div.box{
    margin: 0px 0px 5px 0px;
    clear: both;
    border: #547C01 4px solid;
}

div.box h1{
    background: #547C01;
    color: white;
    margin: 0px;
    padding: 5px;
    font-weight: bold;
    font-size: 15px;
}

div.box div.body {
    border-left: 1px solid gray;
    border-right: 1px solid gray;
    border-bottom: 1px solid gray;
    background: none;
    margin: 0px;
    padding: 5px;
    font-weight: normal;
    font-size: 12px;
}

#top_pagination {
    text-align: right;
    font-size: 10px;
}

#top_pagination select {
    background: none repeat scroll 0 0 white;
    border: 1px solid gray;
    font-size: 10px;
}

#bottom_pagination {
    text-align: center;
    font-size: 14px;
}

#bottom_pagination em{
    font-weight: bold;
    color: #9A0028;
}

#bottom_pagination A {
    text-decoration: none;
    color: black;
}

#bottom_pagination A:hover {
    color: #5B8BC6;
    text-decoration: underline;
}