<!DOCTYPE html>
<html>
    <head>
        <title>Conferma registrazione</title>
        <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
    </head>
    <body>
        <h1>Benvenuto su MiServe</h1>
        <p>
            <%= @user.first_name %> <%= @user.last_name %>,
            grazie per aver confermato la tua registrazione.<br/>
            Da ora puoi collegarti al tuo account usando i seguenti dati:
            <ul>
              <li>username: <b><%=@user.login%></b></li>
              <li>password: <b>[La password che hai scelto al momento della registrazione]</b></li>
            </ul>
        </p>
    </body>
</html>