<!DOCTYPE html>
<html>
    <head>
        <title>Conferma registrazione</title>
        <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
    </head>
    <body>
        <h1>Benvenuto su mi-serve</h1>
        <p>
            <%= @user.first_name %>, grazie per aver confermato la tua registrazione.
            Da ora puoi collegarti al tuo account usando:
            username: <b><%=@user.login%></b>
            password: <i>[La password che hai scelto al momento della registrazione]</i>
        </p>
    </body>
</html>