<!DOCTYPE html>
<html>
    <head>
        <title>Reset della password</title>
        <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
    </head>
    <body>
        <h1>Benvenuto su mi-serve</h1>
        <p>
            <%= @user.first_name %> <%= @user.last_name %>,
            ci risulta che tu abbia richiesto un reset della password del tuo account su MiServe.<br/>
            Se davvero vuoi cambiare la tua password clicca sul link sottostante, oppure
            copialo nella barra del browser:
            <%= link_to('cliccare qui per resettare la tua password', :host=>APP_CONFIG['host'], :controller=>:users, :action=>:confirm_password_reset, :activation_token=>@user.perishable_token) %>
        </p>
        <p>
          Se dovessi avere dei problemi ti preghiamo di copiare l'indirizzo sottostante e copiarlo
          nella barra degli indirizzi del tuo browser:
          <p>
            <%= url_for(:host=>APP_CONFIG['host'], :controller=>:users, :action=>:confirm_password_reset, :activation_token=>@user.perishable_token) %>
          </p>

        </p>
    </body>
</html>