<% @page_title = titlize("Richiesta nuova password")  %>

Hai dimenticato la tua password ? Ecco la procedura da seguire per ottenere una nuova password.
<ol>
  <li>Inserisci l'indirizzo di posta elettronica che hai fornito in fase di registrazione.</li>
  <li>Riceverai da MiServe una mail con un codice di conferma di ridefinizione della password.</li>
  <li>Clicca sul codice per confermare la tua richiesta di ridefinizione della password.</li>
  <li>Specifica la tua nuova password.</li>
</ol>

<%= form_tag(require_reset_password_token_path, :method=>:post, :class=>:pretty) do %>
  <fieldset>
    <legend>Codice di attivazione.</legend>
    <div class="required">
      <%=label_tag :email, "E-mail"%>
      <%=text_field_tag :email%>
      <small>L'indirizzo di posta elettronica che hai fornito in fase di registrazione.</small>
    </div>
  </fieldset>
  <input type="submit" value="Richiedi il codice di ridefinizione della password"/>
<% end%>
