<%= form_tag(require_reset_password_token_path, :method=>:post) do %>
  <fieldset>
    <legend>Codice di attivazione.</legend>
    <div class="notes">
      <h4>Email di registrazione</h4>
      <p>
        Inserisci l'indirizzo di posta elettronica che
        hai fornito in fase di registrazione.
      </p>
      <p class="last">
        Ti sarà inviata una mail contenente la nuova password.
      </p>
    </div>
    <div class="required">
      <%=label_tag :email, "E-mail"%>
      <%=text_field_tag :email%>
      <small>L'indirizzo di posta elettronica che hai fornito in fase di registrazione.</small>
    </div>
    <input type="submit" value="Invia"/>
  </fieldset>

<% end%>
