<div class="box">
  <h1>
    Miglior offerta<br/>
    <small>
      <%if !best_proposal.nil? and best_proposal.request.is_active %>
        Alla scadenza della richiesta chi ha proposto questa offerta verrà messo in contatto con il richiedente.
      <%else%>
        Questa è la proposta che si è aggiudicata l'erogazione del servizio secondo le condizioni descritte.
      <%end%>
    </small>
  </h1>
  <div class="body">
    <% unless best_proposal.nil? %>
      <table>
        <tr>
          <td>Operatore</td>
          <td><%= best_proposal.user.login %></td>
        </tr>
        <tr>
          <td>Preventivo</td>
          <td><%= best_proposal.amount %> &euro;</td>
        </tr>
        <tr>
          <td>Descrizione</td>
          <td><%= best_proposal.description %></td>
        </tr>
      </table>
    <% else %>
      Per questa richiesta non è ancora stata selezionata alcuna proposta come migliore.
    <% end %>
  </div>
</div>
