<%# This is the default content for the side two. %>
<script type="text/javascript"><!--
google_ad_client = "pub-3109155087583260";
/* home_right_skyscraper */
google_ad_slot = "3159677978";
google_ad_width = 160;
google_ad_height = 600;
//-->
</script>
<script type="text/javascript"
src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
</script>

<!--
<div class="index_box">
  <h1>Consigli ?</h1>
  <div>
    Hai un'idea
    per migliorare MiServe ?
    Segnalacela!
  </div>
</div>

<div class="index_box">
  <h1>Seguici</h1>
  <div>
    <%= image_tag 'logo_fb.png' %>
    <%= image_tag 'logo_twitter.png' %>
  </div>
</div>

<%= image_tag('square_banner.png', :style => 'margin:0; padding:0') %>
<%= image_tag('square_banner.png', :style => 'margin:0; padding:0') %>
-->

