<%# This is the default content for the side two. %>

<div class="index_box">
  <h1>Consigli ?</h1>
  <div>
    Hai un'idea
    per migliorare MiServe ?
    Segnalacela!
  </div>
</div>

<div class="index_box">
  <h1>Seguici</h1>
  <div>
    <%= image_tag 'logo_fb.png' %>
    <%= image_tag 'logo_twitter.png' %>
  </div>
</div>

<%= image_tag('square_banner.png', :style => 'margin:0; padding:0') %>
<%= image_tag('square_banner.png', :style => 'margin:0; padding:0') %>

