<div id="search_form">
  <%=form_tag( (url_for :controller=>:site, :action=>:index), :method=>:get )  do |f| %>
    <%= text_field_tag :query, search_bar.query, :placeholder => 'cerca' %>
    <%= select_tag :category_key.to_s, options_from_collection_for_select(Category.root.accept(OptionsVisitor.new).options, 'id', 'value', search_bar.category_key) %>
    <%= submit_tag "cerca", :id=>:search_button%>
  <%end%>
</div>