<div class="slideshow">

  <%# slide per richiedenti %>
  <div class="slide">
    <h1>Sei in cerca di un operatore ?</h1>
    <div style="background-image: url(/images/slide-background-user.png); background-repeat: no-repeat; background-position: right;">
      <div class="content" style="margin-right: 170px">
        Vuoi trovare una baby sitter affidabile ? Un avvocato competente ? Un elettricista economico ?
        Inserisci la tua richiesta su MiServe.eu ed entra in contatto
        con tutti gli operatori iscritti.<br/>
        Inizia subito...
        <ol>
          <li><p>Registrati</p></li>
          <li><p>Inserisci la tua richiesta</p></li>
          <li><p>Aspetta le proposte dagli operatori</p></li>
          <li><p>Entra in contatto con l'operatore che consideri migliore</p></li>
        </ol>
      </div>
    </div>
  </div>

  <%# slide per operatori %>
  <div class="slide">
    <h1>Trova nuovi clienti</h1>
    <div style="margin: 0; padding: 0; background-image: url(/images/slide-background-operator.png); background-repeat: no-repeat; background-position: left;">
      <div class="content" style="margin-left: 170px">
        Sei un imbianchino e vuoi trovare appartamenti
        da ritinteggiare ?
        Sei una baby sitter e vuoi trovare famiglie
        che hanno bisogno del tuo aiuto ?
        Sei uno studente universitario e vuoi trovare
        studenti a cui fare ripetizioni ?
        <ol>
          <li><p>Registrati</p></li>
          <li><p>Cerca le proposte in linea con il tuo profilo</p></li>
          <li><p>Inserisci una proposta</p></li>
          <li><p>Entra in contatto con i clienti che ti hanno scelto</p></li>
        </ol>
      </div>
    </div>
  </div>

  <%# slide per l'accordo %>
  <div class="slide">
    <h1>Entra in contatto solo con i migliori</h1>
    <div style="background-image: url(/images/slide-background-shaking-hand.png); background-repeat: no-repeat; background-position: right;">
      <div class="content" style="margin-right: 170px">
        I dati di contatto dell'operatore e del cliente saranno
        resi vicendevolmente disponibili solo al termine del periodo
        di valutazione delle proposte indicato e solo se
        una delle richieste è stata considerata come la migliore.
      </div>
    </div>
  </div>

  <%# slide per ricerca %>
  <div class="slide">
    <h1>Trova nuovi lavori</h1>
    <div style="background-image: url(/images/slide-background-search.png); background-repeat: no-repeat; background-position: left;">
      <div class="content" style="margin-left: 170px">
          Gli operatori possono trovare le richieste presenti su MiServe.eu attraverso
          il motore di ricerca, o attraverso il sistema di segnalazione
          automatica nella propria area riservata.<br/>
          E' sufficiente descrivere le categorie alle quali si è interessati
          per ricevere una mail di avviso ogni volta che una nuova
          richiesta corrisponde.
      </div>
    </div>
  </div>  
  
</div> 