<div class="slideshow">

  <%# slide per operatori %>
  <div class="slide">
    <h1>Sei in cerca di un operatore ?</h1>
    <p class="content">

      <%=image_tag 'category/root.house.design.jpg'%>
      Vuoi trovare una baby sitter affidabile ? Un avvocato competente ? Un elettricista economico ?
      Inserisci la tua richiesta su MiServe.eu ed entra in contatto
      con tutti gli operatori iscritti.<br/>
      Inizia subito...
    <ol>
      <li><p>Registrati</p></li>
      <li><p>Inserisci la tua richiesta</p></li>
      <li><p>Aspetta le proposte dagli operatori</p></li>
      <li><p>Entra in contatto con l'operatore che consideri migliore</p></li>
    </ol>

    </p>
  </div>

  <%# slide per operatori %>
  <div class="slide">
    <h1>Trova nuovi clienti</h1>
    <p class="content">

      <%=image_tag 'category/root.house.design.jpg'%>
      Sei un imbianchino e vuoi trovare appartamenti
      da ritinteggiare ?
      Sei una baby sitter e vuoi trovare famiglie
      che hanno bisogno del tuo aiuto ?
      Sei uno studente universitario e vuoi trovare
      studenti a cui fare ripetizioni ?
    <ol>
      <li><p>Registrati</p></li>
      <li><p>Cerca le proposte in linea con il tuo profilo</p></li>
      <li><p>Inserisci una proposta</p></li>
      <li><p>Entra in contatto con i clienti che ti hanno scelto</p></li>
    </ol>

    </p>
  </div>
  
</div> 