<p>
Benvenuto <%=@user.first_name%> <%=@user.last_name%>
</p>
<p>
  Questa è la tua area personale. Dal menù puoi controllare le richieste che hai inserito
  nel sistema, creare nuove richieste e vedere quali operatori ti hanno risposto.
</p>