<% content_for :layout_side_two do %>
  <%= render :partial => 'shared/default_side_two' %>
<% end %>

<img style="float: left;" src="../images/plumber.jpg"/>
<img style="float: right;" src="../images/feedback.jpg"/>

<h1>Cos'è MiServe ?</h1>
<p>
  MiServe è un nuovo modo di mettere in contatto
  i clienti che hanno bisogno di servizi con i
  migliori operatori del settore.<br/>
  I vantaggi per i clienti sono che le
  richieste vengono diffuse a tutti gli operatori iscritti,
  ma i tuoi contatti condividendo con solo quello che tu hai scelto
  come migliore.
</p>

<h1>Come funziona MiServe ?</h1>
<p>
  Che tu abbia bisogno di un'avvocato, di un imbianchino,
  di una baby sitter, ti basta pubblicare la tua richiesta su MiServe
  e decidere quanto tempo vuoi lasciare agli operatori perchè ti
  presentino i loro preventivi.<br/>

  La tua richiesta sarà resa disponibile a tutti gli operatori
  iscritti su MiServe che potranno controllare i dettagli della tua richiesta
  e proporti dei preventivi, senza che nessuno dei tuoi dati di contatto
  venga condiviso.<br/>

  Dalla tua area riservata potrai tenerere sotto controllo
  i preventivi ricevuti e scegliere di volta in volta quello che ti sembra
  il migliore.<br/>

  Gli operatori saranno così spinti a presentarti preventivi più
  vantaggiosi o di miglir qualità per ottenere il lavoro.<br/>

  Quando il tempo per la ricezione dei preventivi sarà scaduto sarai messo in
  contatto con l'operatore ha proposto il preventivo che tu reputi più vantaggioso.
</p>



