<% @page_title = titlize("Informativa sulla privacy")  %>
<% @page_description = "MiServe.eu rispetta il tuo diritto alla privacy e ti spiega come vengono trattati i tuoi dati personali." %>

<h1>Privacy</h1>

<p>
  MiServe.eu raccoglie e tratta i dati personali degli utenti nel rispetto dell’art 13 D.Lgs. 196/2003 col fine di poter offrire nel miglior modo possibile i propri servizi.
  Lo Studio Demichelis con sede in via Martinelli 31, 20092 Cinisello Balsamo Milano è il titolare del trattamento ai sensi dell’art. 4, comma 1 lettera f, del D.Lgs. 196/2003.
  Qualora l’utente non autorizzasse il trattamento dei propri dati personali MiServe.eu non è in grado di offrire i propri servizi.
  MiServe.eu registra e utilizza le seguenti informazioni al solo fine di garantire e migliorare i propri servizi:


<ul><li> Dati richiesti in fase di registrazione
  </li><li> Dati relativi agli accessi al sito
  </li><li> Dati relativi alle comunicazioni avvenute sul sito
  </li><li> Dati relativi alle pagine viste
  </li><li> Dati inerenti il traffico in entrata ed uscita dal sito
  </li><li> Dati inerenti i click sui banner.</li></ul>
</p>

<p>
  MiServe.eu non invia materiale pubblicitario senza espresso consenso da parte degli utenti.
  MiServe.eu si riserva il diritto di comunicare i dati degli utenti a terzi nei seguenti casi:

<ul><li> per adempiere ad obblighi di legge
  </li><li> per richieste dell’autorità
  </li><li> per far rispettare le Condizioni d’Uso
  </li><li> a fronte di richieste e offerte di servizio fatte sul sito
  </li><li> contenuti che violino diritti di terzi</li></ul>
</p>

<p>
  Gli utenti possono controllare e modificare i propri dati accedendo al sito MiServe.eu attraverso codici identificativi personali.
  MiServe.eu conserva i dati per adempiere alle richieste della legge.
  L’utente può richiedere la modifica o cancellazione dei propri dati (art. 7 del D.Lgs. 196/2003).
  MiServe.eu in ottemperanza agli articoli 33 e seguenti e dall’Allegato B al D.Lgs. 196/2003 utilizza misure di sicurezza per proteggere i dati da:

<ul><li> violazioni della riservatezza
  </li><li> eventi che possano crearne la perdita</li>
</ul>
</p>