<h1>Condizioni d’uso dei servizi</h1>

<p>
Mi-serve.com è un sito internet che offre la possibilità agli utenti registrati di:
<ul> <li>Richiedere preventivi per servizi vari
  </li><li> Offrire preventivi per i servizi richiesti</li>
</ul>
</p>


<p>


In ogni attività svolta sul sito Mi-serve.com l’utente:
<ul>
  <li> Riconosce, accetta e si impegna a rispettare le condizioni d’uso dei servizi.
  </li><li> Dichiara di essere maggiorenne.
  </li><li> Si impegna ad effettuare con i propri dati personali solo una registrazione.
  </li><li> Si impegna ad inserire dati personali veritieri, completi e aggiornati.
  </li><li> Se inserisce i dati di un’azienda dichiara di avere le necessarie autorizzazioni.
  </li><li> Si impegna a fornire i propri recapiti solo ed esclusivamente in fase di registrazione al sito.
  </li><li> Riconosce che Mi-serve.com non può essere in alcun modo ritenuta responsabile per disservizi riconducibili a mancanza, incompletezza o inesattezza nei dati forniti dagli utenti.
  </li><li> Dichiara di aver letto e accettato l’informativa sulla privacy (D.Lgs. 196/2003) e di acconsentire al trattamento dei propri dati personali (vedi informativa sulla privacy)
  </li><li> Si impegna a rispettare diritti d’autore.
  </li><li> Si impegna a rispettare le norme di legge vigenti.
  </li><li> Si impegna a rispettare nella comunicazione, negli intenti e nelle azioni gli altri utenti e il sito.

  </li><li> Si impegna a mantenere segreti username e password forniti

  </li><li> Accetta di essere l’unico responsabile per ogni attività compiuta sul sito con i propri username e password
  </li><li> Autorizza ad utilizzare gratuitamente i propri diritti d’autore, intellettuali e d’immagine relativamente allo svolgimento del servizio offerto da Mi-serve.com.
  </li><li> Riconosce che Mi-serve.com non controlla i dati forniti dagli altri utenti e non risponde di danni diretti o indiretti derivanti dall’utilizzo di informazioni false.
  </li><li> Riconosce che Mi-serve.com in ottemperanza al D.Lgs 70/2003 e alla direttiva 31/2000/CE non sorveglia l’attività svolta sul sito dagli utenti.
  </li><li> Riconosce che Mi-serve.com non controlla gli utenti e quanto scrivono sul sito e quindi non può essere ritenuta responsabile per problematiche createsi con chi opera attraverso il sito.
  </li><li> Si impegna a risolvere direttamente con gli utenti interessati ogni tipo di controversia venutasi a creare escludendo ogni tipo di richiesta di risarcimento a Mi-serve.com e ai suoi proprietari.
  </li><li> Autorizza Mi-serve.com a pubblicare informazioni riguardanti il proprio operato sul sito.
  </li><li> Autorizza Mi-serve.com a richiedere informazioni circa la soddisfazione del servizio ricevuto e offerto.
  </li><li> Rinuncia ad ogni forma di rivalsa nei confronti di Mi-serve.com per giudizi falsi o lesivi della propria immagine espressi da altri utenti.
  </li><li> Si impegna ad inserire importi in Euro e comprensivi d’IVA.
  </li><li> Prende atto che ogni cambiamento nei servizi offerti da Mi-serve.com verrà comunicata attraverso il sito o per email.
  </li><li> Rinuncia ad ogni forma di rivalsa nei confronti di Mi-serve.com per perdite economiche, danni diretti o indiretti o d’immagine a seguito di modifica, sospensione, disattivazione o malfunzionamento dei servizi offerti dal sito.
  </li><li> Rinuncia ad ogni forma di  rivalsa nei confronti di Mi-serve.com per danni derivati da materiale o contenuti scaricati dal sito.
  </li><li> Rinuncia ad utilizzare qualsiasi informazione prensente sul sito come garanzia per richiedere danni a Mi-serve.com
  </li><li> Si impegna a verificare ogni informazione ricevuta sul sito tramite consulenze professionali
  </li><li> Si impegna a non copiare, diffondere, modificare, alterare i contenuti del sito Mi-serve.com senza espresso consenso.
  </li><li> Si assume la responsabilità delle proprie comunicazioni sul sito e di ogni richiesta di terzi nei suoi confronti rinunciando ad ogni forma di rivalsa su Mi-serve.com.
  </li><li> Si assume la responsabilità per ogni danno derivante dalla comunicazione sul sito di dati inerenti forme di pagamento.
  </li><li> Riconosce di agire autonomamente escludendo ogni rapporto di collaborazione, intermediazione, associazione, agenzia, lavoro subordinato con Mi-serve.com.</li>
</ul>
</p>

<p>
  A fronte di segnalazioni motivate Mi-serve.com si riserva il diritto di limitare o escludere l’accesso al sito a chi risultasse scorretto.
</p>

<p>
  Il mancato rispetto delle condizioni d’uso può comportare, ad insindacabile giudizio di Mi-serve.com, la cancellazione dell’account e di ogni informazione inserita sul sito dall’utente in questione.
</p>


