<div id="layout_side_main">

  <div id="top_pagination">
    <%= my_page_entries_info @proposals %>
  </div>

  <%unless @proposals.nil? || @proposals.count == 0 %>
    <div class="proposals">
      <%@proposals.each do |proposal|%>
        <%= render :partial => 'shared/personal_proposal', :object => proposal %>
      <%end%>
    </div>
  <%else%>
    Non ci sono elementi in questo elenco
  <%end%>

  <div id="bottom_pagination">
    <%= will_paginate @proposals, :previous_label => '&laquo;', :next_label => '&raquo;', :container => false %>
  </div>

</div>
